@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Images */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figure.full-page{
	break-after: page;
	break-before: page;
}
/* End images */

/* Poetry */
article,
section{
	break-after: page;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

.dl2 span:first-child{
	vertical-align: 100%;
}

[epub|type~="z3998:poem"] hgroup p,
[epub|type~="z3998:poem"] div header p,
[epub|type~="z3998:song"] div header p{
	text-align: center;
}

[epub|type~="z3998:poem"] div header,
[epub|type~="z3998:song"] div header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

[epub|type~="z3998:poem"] div,
[epub|type~="z3998:song"] div{
	margin-top: 1em;
}

span > span + span{
	margin-left: 1.5em;
}

[epub|type~="z3998:poem"] span.variant{
	border-left: 1px solid;
	border-radius: 5px;
	border-right: 1px solid;
	display: inline-block;
	padding: 0 .5em 0 .5em;
	text-indent: 0;
	vertical-align: middle;
}
/* End poetry */

/* Footers */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:poem"] footer p{
	text-align: right;
}
/* End footers */

/* Bridgeheads */
[epub|type~="se:bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:poem"] [epub|type~="se:bridgehead"]{
	text-align: justify;
}
/* End bridgeheads */

/* Italics */
q,
#the-abbot-for-a-walk-went-out span:nth-of-type(n+9),
#the-frozen-peaks-he-once-explored span:nth-of-type(n+7),
#industrious-pirate-see-him-sweep span:nth-of-type(n+9),
#robin-and-ben p:nth-of-type(15) span:nth-of-type(9),
#the-builders-doom p:last-of-type,
#to-alison-cunningham > p,
#to-auntie span:nth-of-type(n+3),
#the-house-beautiful > p:first-of-type,
#requiem p:nth-of-type(2) span:nth-of-type(n+2),
#the-song-of-rahero-dedication header p,
#the-song-of-rahero-dedication > p,
#the-feast-of-famine-2 blockquote,
#the-house-of-tembinoka div:first-of-type > p,
#note-18 span:nth-of-type(-n+2){
	font-style: italic;
}
/* End italics */

/* "The Song of Rahéro" dedication */
#the-song-of-rahero-dedication header p{
	font-variant: small-caps;
	text-align: center;
}

#the-song-of-rahero-dedication footer p{
	font-variant: small-caps;
}
/* End "The Song of Rahéro" dedication */
